* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
}

body {
  font-size: 1rem;
  font-family: $font-main;
  background: $color-background;
}

.wrapper {
  margin: 0 auto;
  max-width: $wrapper;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: $font-header;
  text-align: center;
  font-size: 3.5rem;

  margin: 0 0 $gap / 2 0;

  & > a {
    color: $color-darken;
    text-decoration: none;

    &:hover {
      color: $color-accent;
    }
  }
  @include md-sm {
    font-size: 4rem;
  }

  @include sm-nn {
    width: 100vw;
    height: 5vh;
  }

  @include sm-xs {
    font-size: 2rem;
  }
  @include xs-nn {
    font-size: 1.6rem;
  }
}
