.controls {
  display: none;
  text-align: center;
  width: 10%;

  @include lg-nn {
    width: auto;
  }

  @include sm-nn {
    width: 100vw;
    height: 15vh;
  }
}

.control-item {
  font-family: $font-main;
  color: $color-background;

  width: 100%;
  height: $gap * 4;
  margin-bottom: $gap;

  border-radius: 0 20px 20px 0;
  border: 0px;

  background-color: $color-accent;

  cursor: pointer;
  outline: none;

  &:first-of-type {
    margin-top: $gap * 13;
  }

  &:last-of-type {
    margin-bottom: $gap * 13;
  }

  &:hover {
    color: $color-light;
  }

  @include lg-nn {
    border-radius: 0 0 20px 20px;

    width: 100px;
    margin: 0 20px 0 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include lg-md {
    font-size: 1.3rem;
  }

  @include md-sm {
    font-size: 1.5rem;
  }

  @include sm-nn {
    font-size: 1.3rem;
    border-radius: 0;

    width: 100%;
    height: auto;

    margin: 0;
  }
}
