.indicators {
  display: none;
  text-align: center;

  @include xs-nn {
    width: 100vw;
    height: 5vh;
  }

  @include sm-nn {
    display: flex;
  }
}

.indicator {
  font-family: $font-main;
  color: $color-background;

  width: 100%;
  height: $gap * 4;
  margin-bottom: $gap;

  border-radius: 20px 0 0 20px;
  border: 0px;

  background-color: $color-accent;

  cursor: pointer;
  outline: none;

  &:first-of-type {
    margin-top: $gap * 8;
  }

  &:last-of-type {
    margin-bottom: $gap * 8;
  }

  &:hover {
    color: $color-light;
  }

  &.active {
    background-image: linear-gradient(to right, $color-dark, $color-accent);
    outline: none;

    @include lg-nn {
      background-image: linear-gradient(to bottom, $color-dark, $color-accent);
    }
  }

  @include lg-nn {
    border-radius: 20px 20px 0 0;

    width: 100px;
    margin: 0 20px 0 0;
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  @include lg-md {
    font-size: 1.1rem;
  }
  @include md-sm {
    font-size: 1.3rem;
  }
  @include sm-xs {
    font-size: 1.8rem;
    margin: 0 10px 0 0;
  }

  @include sm-nn {
    font-size: 1.3rem;
    width: 15%;
    height: inherit;

    margin: 0;
  }
}
