.carousel {
  display: flex;
  padding: 0;
  margin: 0;

  @include lg-nn {
    display: block;
  }
}

.slides,
.slide {
  height: 600px;
  width: 100%;

  @include md-nn {
    width: 100vw;
    height: 70vh;
  }
}

.slides {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slide {
  position: absolute;

  border: 5px solid $color-accent;
  transition: opacity 1s;
  opacity: 0;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  &:nth-of-type(1) {
    background-image: url(../img/fog1.jpg);
  }
  &:nth-of-type(2) {
    background-image: url(../img/fog2.jpg);
  }
  &:nth-of-type(3) {
    background-image: url(../img/fog3.jpg);
  }
  &:nth-of-type(4) {
    background-image: url(../img/fog4.jpg);
  }
  &:nth-of-type(5) {
    background-image: url(../img/fog5.jpg);
  }

  @include md-nn {
    border-width: 3px;
  }
}

.active {
  opacity: 1;
  z-index: 2;
}
