* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: reross-quadratic, sans-serif;
  background: #f3efe0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: alfarn, sans-serif;
  text-align: center;
  font-size: 3.5rem;
  margin: 0 0 7.5px 0;
}

h1 > a {
  color: #cdb140;
  text-decoration: none;
}

h1 > a:hover {
  color: #a27035;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.slides,
.slide {
  height: 600px;
  width: 100%;
}

.slides {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slide {
  position: absolute;
  border: 5px solid #a27035;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.slide:nth-of-type(1) {
  background-image: url(../img/fog1.jpg);
}

.slide:nth-of-type(2) {
  background-image: url(../img/fog2.jpg);
}

.slide:nth-of-type(3) {
  background-image: url(../img/fog3.jpg);
}

.slide:nth-of-type(4) {
  background-image: url(../img/fog4.jpg);
}

.slide:nth-of-type(5) {
  background-image: url(../img/fog5.jpg);
}

.active {
  opacity: 1;
  z-index: 2;
}

.controls {
  display: none;
  text-align: center;
  width: 10%;
}

.control-item {
  font-family: reross-quadratic, sans-serif;
  color: #f3efe0;
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  border-radius: 0 20px 20px 0;
  border: 0px;
  background-color: #a27035;
  cursor: pointer;
  outline: none;
}

.control-item:first-of-type {
  margin-top: 195px;
}

.control-item:last-of-type {
  margin-bottom: 195px;
}

.control-item:hover {
  color: #ddca7d;
}

.indicators {
  display: none;
  text-align: center;
}

.indicator {
  font-family: reross-quadratic, sans-serif;
  color: #f3efe0;
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  border-radius: 20px 0 0 20px;
  border: 0px;
  background-color: #a27035;
  cursor: pointer;
  outline: none;
}

.indicator:first-of-type {
  margin-top: 120px;
}

.indicator:last-of-type {
  margin-bottom: 120px;
}

.indicator:hover {
  color: #ddca7d;
}

.indicator.active {
  background-image: -webkit-gradient(linear, left top, right top, from(#cba135), to(#a27035));
  background-image: -o-linear-gradient(left, #cba135, #a27035);
  background-image: linear-gradient(to right, #cba135, #a27035);
  outline: none;
}

@media (max-width: 1399.8px) and (min-width: 0px) {
  .carousel {
    display: block;
  }
  .controls {
    width: auto;
  }
  .control-item {
    border-radius: 0 0 20px 20px;
    width: 100px;
    margin: 0 20px 0 0;
  }
  .control-item:first-of-type {
    margin-top: 0;
  }
  .control-item:last-of-type {
    margin-bottom: 0;
  }
  .indicator.active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cba135), to(#a27035));
    background-image: -o-linear-gradient(top, #cba135, #a27035);
    background-image: linear-gradient(to bottom, #cba135, #a27035);
  }
  .indicator {
    border-radius: 20px 20px 0 0;
    width: 100px;
    margin: 0 20px 0 0;
  }
  .indicator:first-of-type {
    margin-top: 0;
  }
  .indicator:last-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: 1399.8px) and (min-width: 992px) {
  .control-item {
    font-size: 1.3rem;
  }
  .indicator {
    font-size: 1.1rem;
  }
}

@media (max-width: 991.8px) and (min-width: 0px) {
  .slides,
  .slide {
    width: 100vw;
    height: 70vh;
  }
  .slide {
    border-width: 3px;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  .control-item {
    font-size: 1.5rem;
  }
  .indicator {
    font-size: 1.3rem;
  }
}

@media (max-width: 767.8px) and (min-width: 0px) {
  h1 {
    width: 100vw;
    height: 5vh;
  }
  .controls {
    width: 100vw;
    height: 15vh;
  }
  .control-item {
    font-size: 1.3rem;
    border-radius: 0;
    width: 100%;
    height: auto;
    margin: 0;
  }
  .indicators {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .indicator {
    font-size: 1.3rem;
    width: 15%;
    height: inherit;
    margin: 0;
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  h1 {
    font-size: 2rem;
  }
  .indicator {
    font-size: 1.8rem;
    margin: 0 10px 0 0;
  }
}

@media (max-width: 575.8px) and (min-width: 0px) {
  h1 {
    font-size: 1.6rem;
  }
  .indicators {
    width: 100vw;
    height: 5vh;
  }
}
